div.capa{
    border-style: solid;border-color: black;
    width: 500px;
    height: 100px;
    z-index: 0;
    position: absolute;
}
div.arena{
    background-color: green;
    right: 80%;
    width: 200px;
    position: absolute;
    z-index: 2;
    top:7%

}
div.ping{
    background-color: gray;
    right: 78%;
    width: 100px;
    position: absolute;
    z-index: 1;
    top: 10%;
}
.mask{
    mask-image: url(mascara.png);
}