body{
    outline: solid;
    outline-color: blueviolet;
   
}
h1{
    color:white;
    text-align:center;
    font-size: 20px;
}
p.introduction{
    font-family:Verdana;
    font-size:13px;
    background-color: aqua;
}
p.introduction{
    font-size:16px;
    color:yellow;
    padding:10px;
}
#expli{
    font-size:16px;
    color: rgb(255, 255, 255);
    outline:dashed red;
 
}
div{
    width:100%;
    height:500px;
     background-color: blue;
    background-image:url(Champi__n.webp),url(Champi__n.webp); background-repeat: no-repeat; background-position: left center, top 20px right 20px;
    background-attachment:fixed;
    border-style:solid dashed dotted hidden;
    border-radius:50px;
    margin:auto;
    outline:solid;
    outline-offset:-10px;
    outline-color: red;
}
img{
    position:absolute;right:20px;
}
div.mama{
    position:absolute;
    border:solid;
    border-color: yellow;
}
div.ol{
    position:relative;
    border:solid;
    border-color: greenyellow;
}
div.blas{
    position: sticky;
    top: 0;
}