div.profe{
    position: relative;
    width: fit-content;
    height: fit-content;
}
div.mario{
    position: absolute;
    top: -10px;
    left:10px;
}
div.ale{
    position: absolute;
    bottom: -10px;
    right: 10px;
}