body {
  background-color: rgba(190, 172, 4, 0.993);
  background-image: url("Borderlands-Symbol.png");
  background-size: 300px;
  background-repeat: repeat;
  font-family: Trebuchet MS, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.cuerpo {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}

.tituloo {
  background-color: rgb(182, 185, 5);
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  padding: 10px;
  border-radius: 5px;
}

.textcolorimg {
  color: aliceblue;
  text-decoration: underline;
  background-color: rgba(147, 161, 13, 0.8);
  padding: 5px;
  border-radius: 3px;
}

.info, .quees, .platino {
  margin: 20px auto;
  padding: 10px;
}

.platino {
  background-color: #000;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
}

a {
  color: aqua;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
